<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Loan payment calculator</title>
</head>
<body>
<header>Loan payment calculator</header>

<br>Enter loan parameters:<br>
<br>
<form th:object="${loanData}" action="/" method="post">
    <label for="amount">Loan amount:</label><br>
    <input th:field="*{loanAmount}" id="amount"><br>
    <label for="rate">Interest rate:</label><br>
    <input th:field="*{interestRate}" id="rate"><br>
    <label for="payments">Number of monthly payments:</label><br>
    <input th:field="*{paymentQuantity}" id="payments"><br><br>
    <button>Calculate!</button>
</form>

<hr>

<p th:if="${result} != null" th:text="'Estimated monthly payment is: ' + ${result}">

</body>
</html>