<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan payment calculator</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="/fragments/header :: headerFragment"></div>

<div class="container">
    <h1>Enter loan parameters below</h1>

    <form th:object="${loanData}" action="/" method="post">

        <label for="amount">
            <div class="tooltip">Loan amount
                <span class="tooltiptext">Loan amount between 1000 and 9999999</span>
            </div>
        </label><br>
        <input th:field="*{loanAmount}" type="number" id="amount" name="amount"><br>
        <p style="font-size: 0.75em; font-weight: bold" th:if="${loanAmountValidation}"
           th:text="${loanAmountValidation}"></p>

        <label for="rate">
            <div class="tooltip">Interest rate
                <span class="tooltiptext">Interest rate in percentage format, e.g. enter 7,2 for 7,2%</span>
            </div>
        </label><br>
        <input th:field="*{interestRate}" type="number" step="0.01" id="rate" name="rate"><br>
        <p style="font-size: 0.75em; font-weight: bold" th:if="${interestRate}" th:text="${interestRate}"></p>

        <label for="payments">
            <div class="tooltip">Number of monthly payments
                <span class="tooltiptext">Duration in months, e.g. enter 24 for 2 year loan</span>
            </div>
        </label><br>
        <input th:field="*{paymentQuantity}" type="number" id="payments" name="payments"><br>
        <p style="font-size: 0.75em; font-weight: bold" th:if="${payments}" th:text="${payments}"></p>

        <label for="commission">
            <div class="tooltip">Commission rate
                <span class="tooltiptext">Enter bank's commission in percentage format, leave 0 for no commission</span>
            </div>
        </label><br>
        <input th:field="*{commission}" type="number" step="0.01" value="0" id="commission" name="commission"><br>
        <p style="font-size: 0.75em; font-weight: bold" th:if="${commission}" th:text="${commission}"></p>

        <button>Calculate!</button>
    </form>

    <p th:if="${result != null}">
        Monthly payment:
        <b th:text="${result}"></b></p>

    <p th:if="${interestCost != null}">
        Interest cost:
        <b th:text="${interestCost}"></b></p>

    <p th:if="${commissionCost != null and commissionCost != '0'}">
        Commission:
        <b th:text="${commissionCost}"></b></p>

    <p th:if="${totalCost != null}">
        Total cost:
        <b th:text="${totalCost}"></b></p>
    <hr>

    <p th:if="${resultsList != null && resultsList.size() != 0}">
        Previous calculations:</p>
    <ul style="list-style: none; text-align: center; padding-left: 0">
        <li style="" th:each="item : ${resultsList}" th:text="${item}"></li>
    </ul>
</div>
</body>
</html>